---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//cores

$vermelho: #ee3a39;
$azul: #172442;
$preto: #333;
$branco: #fff;

@import
        "base"
;

html, * {box-sizing: border-box;}

// grid system

$nOfColumns: 12; // !default
$gutter: 24px; // !default
$columnWidth: ( 100%/#{$nOfColumns} - #{$gutter} );

$nOfColumnsTablet: 8; // !default
$gutterTablet: 0.5rem; // !default
$columnWidthTablet: ( 100%/#{$nOfColumnsTablet} - #{$gutterTablet} );

$nOfColumnsMobile: 4; // !default
$gutterMobile: 0.5rem; // !default
$columnWidthMobile: ( 100%/#{$nOfColumnsMobile} - #{$gutterMobile} );

$tabletWidth: 640px; // !default
$mobileWidth: 480px; // !default

@mixin grid($size) {
  display: block;
  float: left;
  width: calc( (#{$columnWidth})*#{$size} + (#{$size} - 1)*#{$gutter});
  max-width: calc(100% - #{$gutter});
  margin-right: calc(#{$gutter}/2);
  margin-left: calc(#{$gutter}/2);

  @media screen and (max-width: $tabletWidth) {
    width: calc( (#{$columnWidthTablet})*#{$size} + (#{$size} - 1)*#{$gutterTablet});
    max-width: calc(100% - #{$gutterTablet});
    margin-right: calc(#{$gutterTablet}/2);
    margin-left: calc(#{$gutterTablet}/2);
  }

  @media screen and (max-width: $mobileWidth) {
    width: calc( (#{$columnWidthMobile})*#{$size} + (#{$size} - 1)*#{$gutterMobile});
    max-width: calc(100% - #{$gutterMobile});
    margin-right: calc(#{$gutterMobile}/2);
    margin-left: calc(#{$gutterMobile}/2);
  }

}

@mixin offset($side, $size) {
  margin-#{$side}: calc((#{$columnWidth})*#{$size} + (#{$size} - 1)*#{$gutter} + 1.5*#{$gutter});
}

@mixin offsetLeft($size) {@include offset(left, $size);}
@mixin offsetRight($size) {@include offset(right, $size);}

.container {
  //width: calc(60% + 240px); // !default
  width: 83.333%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  height:100%;
}

header {
	background-color: $branco;
	position: fixed;
	top: -60px;
	width: 100%;
	height: 60px;
}

section {
	padding-top: 72px;
	height: 100%;
	* {
		position: relative;
	}
}

#capa {
	height: 100vh;
	.logo {
		@include grid(4);
		margin-top: 20vh;
	}
	h1 {
		box-sizing: border-box;
		@include grid(5);
		@include offsetLeft(3);
		margin-top: 20vh;
		color: white;
		text-align: right;
		font-weight: 300;
		padding-right: 48px;
		border-right: 1px dotted $branco;
		letter-spacing: 0;
		span {
			font-weight: 700;
		}
	}
    .site-nav {
    	@include grid(2);
    	@include offsetLeft(10);
    	color: $branco;
    	text-align: right;
    	font-weight: 700;
    	li {
    		margin-bottom: 12px;
    	}
    }
}

#objetivo {
	background-color: $vermelho;
	padding-bottom: 48px;
	h1 {
		@include grid(10);
		@include offsetLeft(1);
		@include offsetRight(1);
		color: white;
		text-align: center;
		padding-bottom: 72px;
		padding-top: 72px;
		border-top: 1px dotted $branco;
		border-bottom: 1px dotted $branco;
		letter-spacing: 0;
	}
}

#sobre {
	padding: 0;
	.container {
		width: 100%;
	}
	background-color: $azul;
	h1 {
		color: $branco;
		font-size: 72px;
		line-height: 84px;
	}
	figure {
		img {
			height: 24px;
		}
	}

	h2 {
		color: $azul;
	}

	article {
		width: 50%;
		float: left;
		box-sizing: border-box;
		padding-top: 72px;
		padding-bottom: 72px;
		margin-bottom: 0;
		background-color: $branco;
		&.sobre {
			padding-left: 8.333%;
			padding-right: calc( 100%/#{$nOfColumns} - #{$gutter} );
			background-color: transparent;
		}
		&.cara {
			padding-right: 8.333%;
			padding-left: calc( 100%/#{$nOfColumns} - #{$gutter} );
			border-bottom: 1px dotted $azul;
		}
		&.processos {
			padding-left: 8.333%;
			padding-right: calc( 100%/#{$nOfColumns} - #{$gutter} );
			border-right: 1px dotted $azul;
		}
		&.impacto {
			padding-right: 8.333%;
			padding-left: calc( 100%/#{$nOfColumns} - #{$gutter} );
		}
	}
	p {
		color: $preto;
	}
}

#atividades {
	background-color: $azul;
	color: $branco;
	padding-bottom: 96px;
	article {
		@include grid(3);
		padding-right: 48px;
	}
	h1 {
		color: $branco;
	}
	figure {
		@include grid(6);
		margin-bottom: 48px;
	}
	h2 {
		color: $branco
	}
}

#parceiros {
	background-color: $branco;
	h1 {
		text-align: center;
		span {
			border-bottom: 1px dotted $azul;
			padding-bottom: 24px;
		}
	}
	figure {
		@include grid(3);
		margin-bottom: 48px;
		margin-top: 48px;
	}
}

#contato {
	background-color: $vermelho;
	padding-bottom: 96px;
	text-align: center;
	h1 {
		color: $branco;
		text-align: center;
		span {
			border-bottom: 1px dotted $branco;
			padding-bottom: 24px;
		}
	}
	p {
		@include grid(6);
		@include offsetLeft(3);
		@include offsetRight(3);
		color: $branco;
		text-align: center;
		font-size: 36px;
		line-height: 48px;
		margin-bottom: 48px;
	}
	a {
		background-color: $branco;
		font-size: 24px;
		line-height: 36px;
		padding: 12px 24px;
		border-radius: 4px;
		font-weight: 700;
		color: $vermelho;
		display: inline-block;
		img {
			height: 24px;
			margin-right: 12px;
		}
	}
}

footer {
	background-color: $preto;
	padding-top: 48px;
	padding-bottom: 48px;
	p {
		color: $branco;
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
	}
}
