<section id="atuacao">
  <div class="container">
    <h1>O QUE FAZEMOS</h1>
    <article>
      <figure>
        <img src="img/acendemos.svg">
      </figure>
      <h2>Acendemos <br>as lâmpadas</h2>
      <p>
        Nosso objetivo é instigar, fomentar, trazer ideias inovadoras.
      </p>
    </article>
    <article>
      <figure>
        <img src="img/lubrificamos.svg">
      </figure>
      <h2>Lubrificamos <br>as engrenagens</h2>
      <p>
        Dar força aos projetos é nossa missão. Propiciamos um crescimento veloz e consistente.
      </p>
    </article>
    <article>
      <figure>
        <img src="img/ampliamos.svg">
      </figure>
      <h2>Ampliamos <br>as direções</h2>
      <p>
        As Startups recebem um suporte sólido, com conhecimento científico e responsabilidade acadêmica.
      </p>
    </article>
    <article>
      <figure>
        <img src="img/renovamos.svg">
      </figure>
      <h2>Renovamos <br>o ecossistema</h2>
      <p>
        Trazemos novidades para Brasília, impactando positivamente os mais diversos setores.
      </p>
    </article>
  </div>
</section>