<section id="capa"  class="parallax-window" data-parallax="scroll" data-image-src="img/bg-capa.jpg">
  <div class="container">
    <figure class="logo">
      <img src="img/unicorn-negativo.svg">
    </figure>
    <h1>O que eles fizeram em <span>seus vales</span> faremos em <span>nosso planalto.</span></h1>

    <nav class="site-nav">
        <ul>
          <li>
            <a href="#objetivo"><span>objetivo</span></a>
          </li>
          <li>
            <a href="#sobre"><span>sobre</span></a>
          </li>
          <li>
            <a href="#atuacao"><span>atuação</span></a>
          </li>
          <li>
            <a href="#parceiros"><span>parceiros</span></a>
          </li>
          <li>
            <a href="#contato"><span>contato</span></a>
          </li>
        </ul>
    </nav>
  </div>
</section>