<header class="hidden">
  <div class="container">

    <a id="logo" href="#capa">
      <img src="img/unicorn-simples-positivo.svg">
    </a>

    <nav class="site-nav">
      <ul>
        <li>
          <a href="#objetivo">objetivo</a>
        </li>
        <li>
          <a href="#sobre">sobre</a>
        </li>
        <li>
          <a href="#atuacao">atuação</a>
        </li>
        <li>
          <a href="#lancamento">lançamento</a>
        </li>
        <li>
          <a href="#parceiros">parceiros</a>
        </li>
        <li>
          <a href="#contato">contato</a>
        </li>
      </ul>
    </nav>

  </div>

</header>
