<head>
	<meta charset="utf-8">
	<title>UNICORN | accelerator</title>

	<meta name="description" content="">
	<meta property="og:url" content="http://unicornbr.com.br"/>
	<meta property="og:title" content="Unicorn Accelerator lança o primeiro Lemonade-Brasília"/>
	<meta property="og:image" content="http://unicornbr.com.br/img/fb-thumb.png"/>
	<meta property="og:site_name" content="UnicornBR"/>
	<meta property="og:description" content="O melhor programa de pré-aceleração de Startups do Brasil chegou a Brasília e a grande responsável por isso é a UNICORN ACCELERATOR."/>

 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

 	<link rel="stylesheet" href="css/main.css">
 	<link rel="stylesheet" href="css/grid.css">
 	<script src="https://use.typekit.net/are0bqy.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
