<section id="impacto">
  <div class="wrapper">
    <article class="titulo">
      <h1>NOSSO IMPACTO</h1>
    </article>

    <article>
      <h3>Pré-Aceleração</h3>
      <p>
        Somos os parceiros no Distrito Federal do <a href="http://www.lemonademg.com/"><b>Lemonade</b></a> (Fundepar/UFMG), o melhor programa de pre-aceleração do Brasil. Durante oito semanas, os empreendedores das ideias selecionadas passarão por um treinamento intensivo em empreendedorismo, fazendo com que estas ideias sejam maturadas e se transformem numa startup. 
      </p>
    </article>

    <article>
      <h3>Aceleração</h3>
      <p>
        Após o fomento, o negócio possuirá grande potencial de crescimento e ganho de escala. Aqui os empreendedores passam por uma série de mentorias intensivas com profissionais de alto gabarito, empreendedores experientes, gestores públicos e profissionais do setor da futura empresa, de maneira a otimizar tanto aspectos financeiros quanto operacionais e deixar suas empresas prontas para receber investimentos de forma consistente, rápida e inteligente.
      </p>
    </article>

    <article>
      <h3>Fomento do ecossistema</h3>
      <p>
        A Unicorn atuará em Brasília por meio de eventos, palestras, meet-ups e workshops. A ideia é aguçar o potencial de idealizadores e trazer o componente principal no ecossistema de startup, os empreendedores, aliado de potenciais investidores para prática.
      </p>
    </article>

  </div>
</section>