<section id="lancamento">
  <div class="container">
    <article class="titulo">
      <h1>EVENTO DE LANÇAMENTO</h1>
    </article>

    <article class="intro">
      <h2>
      O evento será aberto pelo Professor Doutor Ricardo Fernandes, sócio-fundador da Unicorn, e por Ramon Azevedo, CEO da Fundepar/UFMG. Em seguida, cinco painéis serão organizados:
      </h2>
    </article>

    <article>
      <h2><span>Painel 1<br></span> De onde surge a inovação tecnológica de ponta</h2>
      <ul>
        <li><span>Márcia Abrahão</span>, Reitora da Universidade de Brasília - UnB</li>
      	<li><span>Mamede Said</span>, Diretor da Faculdade de Direito da UnB</li>
      	<li><span>Beatriz Maria Eckert-Koff</span>, Reitora da UDF (Grupo Cruzeiro do Sul)</li>
      	<li><span>Getúlio Moreira Lopes</span>, Reitor do UniCEUB</li>
      	<li><span>Edson Filho</span>, Vice-Reitor do IESB</li>
      	<li><span>Vicente Nogueira Filho</span>, Presidente da UPIS</li>
      	<li><span>Fabrício Falconi Costa</span>, Coordenador-Geral de Desenvolvimento, Pesquisa e Inovação da UCB</li>
      </ul>
    </article>

    <article>
      <h2><span>Painel 2<br></span> Legal Techs</h2>
      <ul>
      	<li>Professor Doutor <span>Henrique Araújo Costa</span>, Coordenador do DireitoTec/UnB</li>
      	<li>Representante da <span>IBM</span>, criadora do robô de machine learning Watson</li>
      	<li>Representante do escritório <span>Torreão Braz Advogados</span>, escritório que presta assessoria jurídica de alta qualidade a startups</li>
        <li><span>Ricardo Fernandes</span>, idealizador e sócio-fundador do Solucione Online, adquirido pelo Reclame Aqui para a realização do <a href="omediador.com.br">omediador.com.br</a></li>
      </ul>
    </article>

    <article>
      <h2><span>Painel 3<br></span> Fomento & Mentoria</h2>
      <ul>
      	<li><span>Juliano Costa Couto</span>, Presidente da OAB/DF</li>
      	<li><span>Tiago Jarjour</span>, Secretário Adjunto de Trabalho e Empreendedorismo do Distrito Federal</li>
      	<li><span>Luiz Gonzaga Mendonça</span>, Presidente da Comp Line</li>
      	<li>Representante do <span>SEBRAE Nacional</span></li>
      </ul>
    </article>

    <article>
      <h2><span>Painel 4<br></span> Instituições financeiras e fundos de investimento</h2>
      <ul>
      	<li><span>Jader Pires</span>, Investment Banking do Citibank</li>
      	<li><span>Rodolfo Santos</span>, CEO da BMG/Uptech</li>
      	<li><span>Rafael Moraes</span>, Garan Ventures</li>
        <li><span>Bruno Brito</span>, Cedro Capital</li>
      </ul>
    </article>

    <article>
      <h2><span>Painel 5<br></span> Conferências Internacionais </h2>
      <ul>
        <li>Conferência internacional com <span>Lídia Shong</span>, Head of Product Marketing of NerdWallet, de San Francisco (EUA)</li>
        <li>Conferência internacional com <span>Paulo Sotero</span>, Director of Brazil Institute of Wilson Center (EUA)</li>
      </ul>
    </article>

    <article>
      <h2>Encerramento</h2>
      <p>O lançamento da Unicorn será encerrado por Yan Di, Presidente do Baidu Fund, multinacional chinesa que criou um fundo de US$ 60 milhões para investir em startups brasileiras, e patrocinador da Unicorn Accelerator e do Lemonade-Brasília.</p>
    </article>

  </div>
</section>