<section id="parceiros">
  <div class="container">

    <h1><span>NOSSOS PATROCINADORES</span></h1>

    {% include parceiro.html
      link="http://baidubrasil.blog.br/category/sobre-nos/"
      img="logo-baidu.png"
    %}

     {% include parceiro.html
      link=""
      img="logo-legallabs.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-bmg.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-compline.png"
    %}

    <h1><span>NOSSOS PARCEIROS</span></h1>

    {% include parceiro.html
      link=""
      img="logo-torre.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-direitounb.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-direitotec.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-alumni.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-fundepar.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-fundep.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-uniceub.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-iesb.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-ucb.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-udf.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-ibm.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-oab.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-a.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-garan.png"
    %}

    {% include parceiro.html
      link=""
      img="logo-cedro.png"
    %}

  </div>
</section>