<section id="parceiros">
  <div class="container">

    <h1><span>NOSSOS PATROCINADORES</span></h1>

    <article class="patrocinador"><figure>
      <a href="http://baidubrasil.blog.br/category/sobre-nos/">
        <img src="img/logo-baidu.png">
      </a>
    </figure></article>

    <article class="patrocinador"><figure>
      <a href="">
        <img src="img/logo-legallabs.png">
      </a>
    </figure></article>

    <article class="patrocinador"><figure>
      <a href="">
        <img src="img/logo-bmg.png">
      </a>
    </figure></article>

    <article class="patrocinador"><figure>
      <a href="">
        <img src="img/logo-compline.png">
      </a>
    </figure></article>

    <h1><span>NOSSOS PARCEIROS</span></h1>

    <article><figure>
      <a href="">
        <img src="img/logo-torre.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-unb.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-direitounb.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-direitotec.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-alumni.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-fundepar.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-fundep.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-uniceub.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-iesb.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-ucb.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-udf.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-ibm.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-oab.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-a.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-garan.png">
      </a>
    </figure></article>

    <article><figure>
      <a href="">
        <img src="img/logo-cedro.png">
      </a>
    </figure></article>

  </div>
</section>