<section id="parceiros">
  <div class="wrapper">

    <h1><span>PRIMEIROS PATROCINADORES <br>UNICORN-LEMONADE</span></h1>

    {% include parceiro.html
      link="http://baidubrasil.blog.br/category/sobre-nos/"
      img="logo-baidu.png"
    %}

     {% include parceiro.html
      link="http://www.legalabs.com.br/"
      img="logo-legallabs.png"
    %}

    {% include parceiro.html
       link="https://www.bancobmg.com.br/site/"
       img="logo-bmg.png"
    %}

    {% include parceiro.html
       link="https://www.compline.com.br/"
       img="logo-compline.png"
    %}

    <h1><span>NOSSOS PARCEIROS</span></h1>

    {% include parceiro.html
      link="http://www.torrece.com.br/"
      img="logo-torre.png"
    %}

    {% include parceiro.html
      link="http://www.fd.unb.br/pt/"
      img="logo-direitounb.png"
    %}

    {% include parceiro.html
      link="http://www.direitotec.com.br/"
      img="logo-direitotec.png"
    %}

    {% include parceiro.html
      link="https://www.facebook.com/alumnidireitounb/"
      img="logo-alumni.png"
    %}

    {% include parceiro.html
      link="http://fundepar.ufmg.br/"
      img="logo-fundepar.png"
    %}

    {% include parceiro.html
      link="http://www.fundep.ufmg.br/"
      img="logo-fundep.png"
    %}

    {% include parceiro.html
      link="https://developer.ibm.com/startups/program-faq/"
      img="logo-ibm.png"
    %}

    {% include parceiro.html
      link="http://www.oabdf.org.br/"
      img="logo-oab.png"
    %}

    {% include parceiro.html
      link="http://www.ucb.br/"
      img="logo-ucb.png"
    %}

    {% include parceiro.html
      link="http://www.udf.edu.br/"
      img="logo-udf.png"
    %}

    {% include parceiro.html
      link="http://www.iesb.br/"
      img="logo-iesb.png"
    %}

    {% include parceiro.html
      link="https://www.uniceub.br/"
      img="logo-uniceub.png"
    %}

    {% include parceiro.html
      link="http://asteps.org/"
      img="logo-a.png"
    %}

    {% include parceiro.html
      link="http://www.garan.com.br/"
      img="logo-garan.png"
    %}

    {% include parceiro.html
      link="http://www.cedrocapital.com/"
      img="logo-cedro.png"
    %}

    {% include parceiro.html
      link="http://www.easterlyventures.com.br/"
      img="logo-easterly.png"
    %}

  </div>
</section>