<section id="sobre" class="polyptych duo">

  <article class="sobre">
    <h1>SOBRE <br>NÓS</h1>
    <figure>
      <img src="img/barra.svg">
    </figure>
  </article>

  <article class="cara">
    <h2>Nossa Cara</h2>
    <p>
      Somos um grupo de pesquisadores, investidores e jovens talentos que acredita no cenário do empreendedorismo de Brasília e tem como objetivo fomentar essa área junto a iniciativas de todo o país.
    </p>
    <p>
      A Unicorn é uma aceleradora que irá auxiliar Startups de todo Brasil, em todas as etapas. Ela é a ferramenta que conectará ideias de pequenas empresas com mentalidades inovadoras, dotadas de poucos recursos e a vontade de empreender em nossa cidade. Aqui elas se tornarão capazes de enfrentar com sucesso as companhias tradicionalmente estabelecidas no mercado.
    </p>
  </article>
  
</section>