#atuacao {
	background-color: $vermelho;
	color: $branco;
	padding-bottom: 96px;
	article {
		@include phone(0, 2, 0);
		@include tablet(0, 3, 0);
		@media #{$desktop-up} {
			padding-right: 48px;
		}
		@include large(0, 2, 1);
		@media #{$large-up} {
			padding-right: 0;
		}
	}
	h1 {
		@include phone(0, 4, 0);
		@include tablet(0, 12, 0);
		color: $azul;
	}
	figure {
		margin-bottom: 24px;
		padding-right: 50%;
		@media #{$tablet-up} {
			margin-bottom: 48px;
		}
	}
	h2 {
		color: $azul;
	}
	p {
		border-top: 1px dotted $azul;
		padding-top: 24px;
	}
}