html, * {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    color: $preto;
    background-color: $branco;
}

section {
    @media #{$phoneQuery} {
        padding-top: 48px;
    }
    padding-top: 72px;
    height: 100%;
    &:first-of-type {
        padding-top: 0px;
    }
    * {
        position: relative;
    }
}

.container {
    width: calc(66.666% + 240px);
    max-width: calc(100% - 24px);
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    height:100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

figure > img {
    display: block;
}
