html, * {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    color: $preto;
    background-color: $branco;
}

section {
    padding-top: 48px;
    height: 100%;
    @media #{$tablet-up} {
        padding-top: 72px;
    }
    &:first-of-type {
        padding-top: 0px;
    }
    * {
        position: relative;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

figure > img {
    display: block;
}