$nOfColumnsPhone: 4;
$gutterPhone: 24px;
$columnWidthPhone: ( 100%/#{$nOfColumnsPhone} - #{$gutterPhone} );

$nOfColumnsTablet: 12;
$gutterTablet: 24px;
$columnWidthTablet: ( 100%/#{$nOfColumnsTablet} - #{$gutterTablet} );

$nOfColumnsDesktop: 12;
$gutterDesktop: 24px;
$columnWidthDesktop: ( 100%/#{$nOfColumnsDesktop} - #{$gutterDesktop} );

$nOfColumnsLarge: 12;
$gutterLarge: 24px;
$columnWidthLarge: ( 100%/#{$nOfColumnsLarge} - #{$gutterLarge} );

$breakpoint1: 641px;
$breakpoint2: 1025px;
$breakpoint3: 1441px;

$phoneQuery: "screen and (max-width: #{$breakpoint1 - 1px})";
$tabletQuery: "screen and (min-width: #{$breakpoint1})";
$desktopQuery: "screen and (min-width: #{$breakpoint2})";
$largeQuery: "screen and (min-width: #{$breakpoint3})";

@mixin phone($nLeft, $size, $nRight) {
	@media #{$phoneQuery} {
		display: block;
		float: left;
		width: calc( (#{$columnWidthPhone})*#{$size} + (#{$size} - 1)*#{$gutterPhone});
		margin-left: calc((#{$columnWidthPhone})*#{$nLeft} + (#{$nLeft} - 1)*#{$gutterPhone} + 1.5*#{$gutterPhone});
		margin-right: calc((#{$columnWidthPhone})*#{$nRight} + (#{$nRight} - 1)*#{$gutterPhone} + 1.5*#{$gutterPhone});
	}
}

@mixin tablet($nLeft, $size, $nRight) {
	@media #{$tabletQuery} {
		display: block;
		float: left;
		width: calc( (#{$columnWidthTablet})*#{$size} + (#{$size} - 1)*#{$gutterTablet});
		margin-left: calc((#{$columnWidthTablet})*#{$nLeft} + (#{$nLeft} - 1)*#{$gutterTablet} + 1.5*#{$gutterTablet});
		margin-right: calc((#{$columnWidthTablet})*#{$nRight} + (#{$nRight} - 1)*#{$gutterTablet} + 1.5*#{$gutterTablet});
	}
}

@mixin desktop($nLeft, $size, $nRight) {
	@media #{$desktopQuery} {
		display: block;
		float: left;
		width: calc( (#{$columnWidthDesktop})*#{$size} + (#{$size} - 1)*#{$gutterDesktop});
		margin-left: calc((#{$columnWidthDesktop})*#{$nLeft} + (#{$nLeft} - 1)*#{$gutterDesktop} + 1.5*#{$gutterDesktop});
		margin-right: calc((#{$columnWidthDesktop})*#{$nRight} + (#{$nRight} - 1)*#{$gutterDesktop} + 1.5*#{$gutterDesktop});
	}
}

@mixin large($nLeft, $size, $nRight) {
	@media #{$largeQuery} {
		display: block;
		float: left;
		width: calc( (#{$columnWidthLarge})*#{$size} + (#{$size} - 1)*#{$gutterLarge});
		max-width: calc(100% - #{$gutterLarge});
		margin-left: calc((#{$columnWidthLarge})*#{$nLeft} + (#{$nLeft} - 1)*#{$gutterLarge} + 1.5*#{$gutterLarge});
		margin-right: calc((#{$columnWidthLarge})*#{$nRight} + (#{$nRight} - 1)*#{$gutterLarge} + 1.5*#{$gutterLarge});
	}
}