#sobre {
	background-color: $azul;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	article {
		@media #{$phoneQuery} {
			padding-top: 48px;
			padding-bottom: 48px;
		}
		box-sizing: border-box;
		padding-top: 72px;
		padding-bottom: 72px;
		margin-bottom: 0;
		background-color: $branco;
		&.sobre {
			background-color: $azul;
			@media #{$phoneQuery} {
				background-color: $azul;
			}
			h1 {
				color: $branco;
				font-size: 72px;
				line-height: 84px;
				@media #{$phoneQuery} {
					font-size: 48px;
					line-height: 60px;
					margin-bottom: 24px;
				}
			}
			figure {
				img {
					height: 24px;
					@media #{$phoneQuery} {
						height: 12px;
					}
				}
				@media #{$phoneQuery} {
					padding-bottom: 48px;
				}
			}
		}
		&.cara {
			@media #{$phoneQuery} {
				border-bottom: none;
			}
			h2 {
				color: $azul;
				border-bottom: 1px dotted $vermelho;
				padding-bottom: 24px;
			}
			p {
				color: $preto;
			}
		}
	}
}