body {
	@include neutral-container;
	@include h-distribute-left;
	& > * {
		@include unwrapped-element(0, 0, $grid);
		* {
			@include sub-element;
		}
	}
	& > figure, & > img {
		@include unwrapped-element(nth($img, 1), nth($img, 2), $grid);
	}
	& > ul, & > ol, & > form, & > p, & > q, & > ol, & > h1:not(:first-child), & > h2, & > h3, & > h4, & > h5, & > h6, & > hr, & > blockquote {
		@include unwrapped-element(nth($txt, 1), nth($txt, 2), $grid);
	}
	& > header, & > footer, & > address, & > nav, & > section {
		@include wrapper-container;
		@include h-distribute-left;
		& > * {
			@include wrapped-element(0, 0, $grid);
			@for $i from 0 through $grid {
				$column: percentage(1 / nth($col, $a));
				&.s#{$a}_#{$i} {
					$width: $i*$column;
					@if $width == 0% {
						display: none;
					}
					@else {
						width: calc(#{$width} - #{$gutter});
						margin-left: $gutter/2;
						margin-right: $gutter/2;
						display: block;
					}
				}
			}
			* {
				@include sub-element;
			}
		}
		& > figure, & > img {
			@include wrapped-element(nth($img, 1), nth($img, 2), $grid);
		}
		& > ul, & > ol, & > form, & > p, & > q, & > ol, & > h1:not(:first-child), & > h2, & > h3, & > h4, & > h5, & > h6, & > hr, & > blockquote {
			@include wrapped-element(nth($txt, 1), nth($txt, 2), $grid);
		}
	}
	& > main {
		@include neutral-container;
		@include h-distribute-left;
		& > * {
			@include unwrapped-element(0, 0, $grid);
			* {
				@include sub-element;
			}
		}
		& > figure, & > img {
			@include unwrapped-element(nth($img, 1), nth($img, 2), $grid);
		}
		& > ul, & > ol, & > form, & > p, & > q, & > ol, & > h1:not(:first-child), & > h2, & > h3, & > h4, & > h5, & > h6, & > hr, & > blockquote {
			@include unwrapped-element(nth($txt, 1), nth($txt, 2), $grid);
		}
		& > main, & > section, & > nav, & > address {
			@include wrapper-container;
			@include h-distribute-left;
			& > * {
				@include wrapped-element(0, 0, $grid);
				@for $i from 0 through $grid {
					$column: percentage(1 / nth($col, $a));
					&.s#{$a}_#{$i} {
						$width: $i*$column;
						@if $width == 0% {
							display: none;
						}
						@else {
							width: calc(#{$width} - #{$gutter});
							margin-left: $gutter/2;
							margin-right: $gutter/2;
							display: block;
						}
					}
				}
				* {
					@include sub-element;
				}
			}
			& > figure, & > img {
				@include wrapped-element(nth($img, 1), nth($img, 2), $grid);
			}
			& > ul, & > ol, & > form, & > p, & > q, & > ol, & > h1:not(:first-child), & > h2, & > h3, & > h4, & > h5, & > h6, & > hr, & > blockquote {
				@include wrapped-element(nth($txt, 1), nth($txt, 2), $grid);
			}
		}
	}
}